@import "./variables.scss";

@mixin commonHover {
  cursor: pointer;
  color: $hoverColor;
}


@mixin commonBtnHover {
  cursor: pointer;
  color: $hoverColor;
  background-color: $btnBgColor;
}

@mixin textOverflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin multiLineOverflow {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@mixin commonCardWrapper($bgColor: 'white') {
  box-shadow: $commonBoxShadow;
  margin: 5px 0;
  background-color: $bgColor;
  border-radius: 4px;
}